/**
Primary colors
#966758
#00277d 
*/
.navWrap {
  padding: 10px;
  width: 100%;
  box-shadow: #00000030 3px 2px 12px 1px;
  border-radius: 0px;
}
nav h1 {
  color: #a92020;
  font-weight: 600;
}
button,
.button {
  padding: 5px 12px;
  background: #a92020;
  border: solid 0px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.button:hover {
  box-shadow: 4px 2px 17px 5px #a9202069;
  transition-duration: 0.4s;
  background: #a92020db;
  border-radius: 6px;
  transform: translate(1px, 1px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px 0px;
  font-family: Arial;
}
a {
  text-decoration: none;
}
p {
  margin: 7px 0;
}
.bg1 {
  background: #966758 !important;
  color: white;
}
.bg1:hover {
  box-shadow: 4px 2px 17px 5px #95675885;
}
.main {
  margin-top: 35px;
}

.avatar {
  widows: 50px;
  height: 50px;
  background: white;
}
.userContainer {
  padding: 22px 20px;
  border-radius: 5px;
  margin: 5px 0;
  align-items: center;
}

nav {
  padding-top: 6px;
}
